<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outfit Wizard</title>
    <link rel="stylesheet" href="static/css/index.css">
    <script defer src="static/js/index.js"></script>
</head>
<body>
    <h1>Find the Perfect Outfit</h1>
    <form id="outfit-form" action="/recommend" method="post">
        <label for="occasion">Choose an occasion:</label>
        <select name="occasion" id="occasion">
            <option value="casual">Casual</option>
            <option value="formal">Formal</option>
            <option value="business">Business</option>
          
        </select>

        <label for="weather">Select weather:</label>
        <select name="weather" id="weather">
            <option value="hot">Hot</option>
            <option value="cold">Cold</option>
            <option value="rainy">Rainy</option>
           
        </select>

        <label for="size">Size:</label>
        <select id="size" name="size">
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
            <option value="extra-large">Extra Large</option>
        </select>

        <button type="submit">Get Recommendation</button>
    </form>
    <div id="outfit-suggestion"></div>
    <footer>
        <p>&copy; 2025 Fashion Foward | Style meets Success</p>
        <p>Building confindence and Improving Style.</p>
    </footer>
</body>
</html>
